 
 #div1{
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    background-image: url("Bangladesh_regions_map.svg" );
}
           
    #contry{color: darkolivegreen; text-align: center;}    
    #Bangladesh{text-align: center;}












